body {
  font-family: Arial;
  background: #333;
  color: #ccc;
}

#app {
  max-width: 600px;
  margin: 20px auto;
}

a {
  display: inline-block;
  margin-right: 15px;
  padding: 10px;
  background: orange;
  color: white;
  text-decoration: none;
}

a:hover {
  background: green;
}

#wp-post {
  padding: 20px;
  border: 3px solid pink;
}
